@import "components/constants"

.values-grid
  display: flex
  flex-direction: row
  justify-content: center
  align-items: stretch
  gap: 52px
  @media screen and (max-width: $mobile-max-width)
    gap: 10px
  position: relative

  #values-circle
    position: absolute
    top: 0
    left: 0
    transform-origin: 0 0
    animation: spin-top-left 60s linear infinite

    @keyframes spin-top-left
      0%
        transform: rotate(0) translateX(-50%) translateY(-50%)
      100%
        transform: rotate(360deg) translateX(-50%) translateY(-50%)


  & > *
    flex: 1


    .values-number
      @include single-line-text(4rem)

    .values-content
      @include single-line-text(3rem)
      margin-bottom: 20px

    p
      font-size: 1rem

